{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'beers/style.css' %}" />
</head>
<body>
    <div class="page-header">
        <h1><a href="/beers">4 Wonder </a></h1>
    <div class="index-header">
        <ul style="display:inline">
            <li>
               <a href="{% url 'beers:beer_new' %}">Beers</a>:
               <a href="{% url 'beers:beer_new' %}">
                   <span class="glyphicon glyphicon-plus"></span>
               </a>
               <a href="{% url 'beers:beer_index' %}">
                   <span class="glyphicon glyphicon-list"></span>
               </a>
            </li>
            <li>
               <a href="{% url 'beers:ingredient_new' %}">Ingredients</a>:
               <a href="{% url 'beers:ingredient_new' %}">
                   <span class="glyphicon glyphicon-plus"></span>
               </a>
               <a href="{% url 'beers:ingredient_index' %}">
                   <span class="glyphicon glyphicon-list"></span>
               </a>
            </li>
            <li>
               <a href="{% url 'beers:purchase_new' %}">Purchase</a>:
               <a href="{% url 'beers:purchase_new' %}">
                   <span class="glyphicon glyphicon-plus"></span>
               </a>
               <a href="{% url 'beers:purchase_index' %}">
                   <span class="glyphicon glyphicon-list"></span>
               </a>
            </li>
        </ul>
    </div>
    </div>
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <p>Thanks for visiting my site.</p>
    {% endblock %}
</body>
</html>
