{% extends "beers/base.html" %}

{% block title %} Detalles de una cerveza {% endblock %}

{% block content %}


<h1>{{ beer.beer_name }}
<a class="btn btn-default" href="{% url "beers:beer_edit" pk=beer.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
</h1>
<h2>Información general:</h2>
<ul>
<li>Alcohol: {{beer.alcohol }}</li>
<li>IBU: {{beer.ibu }} </li>
</ul>

<h2>Recipe:
<a class="btn btn-default" href="{% url "beers:recipe_new" pk=beer.pk %}"><span class="glyphicon glyphicon-plus"></span></a>
</h2>
<ul>
{% for recipe in beer.recipe_set.all %}
    <li>{{ recipe}}</li>
{% endfor %}
</ul>

{% endblock %}
