{% extends "beers/base.html" %}

{% block title %} Detalles del ingrediente {{ ingredient }} {% endblock %}
{% block content %}

<h1> Detalles del ingrediente {{ingredient.name }} </h1>

<h2>Información principal: </h2>
<ul>
<li> <strong>Nombre: </strong> {{ingredient.name }} </li>
<li> <strong>Tipo de ingrediente: </strong> {{ingredient.get_type_ingredient_display }}</li>
<li> <strong>Compras realizadas:</strong>
{% if buying_list %}
    <ul>
        {% for element in buying_list %}
            <li><strong> Cantidad: </strong>{{ element.quantity }} gramo{{element.quantity|pluralize }}.
                <strong> Precio: </strong> {{ element.price }} Euro {{element.priece|pluralize}}.
                <strong> Fecha de compra: </strong> {{ element.buying_date|date:"SHORT_DATE_FORMAT" }}.
                <strong> Fecha de caducidad: </strong>{{ element.sell_by_date|date:"SHORT_DATE_FORMAT" }}.
                <strong> Existencias:</strong> {{ element.is_there_existence|yesno:"Con recursos, Sin existencias" }} (queda {{ element.existence }} gramo{{element.existence|pluralize}})

            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No purchase are available.</p>
{% endif %}
</ul>

{% if stats %}
<h2>Estamos usando '{{ ingredient.name }}' en las siguientes cervezas:</h2>
<ul>
    {% for beer, quantity in stats.items %}
        <li>{{ beer }}: {{ quantity }} gramo{{quantity|pluralize }}</li>
    {% endfor %}
</ul>
{% endif%}
{% if stock %}
Stock: {{ stock }} gramo{{ stock|pluralize }}
{% endif %}
</li></ul>

{% endblock %}
