{% extends "beers/base.html" %}

{% block title %} Información de la compra del ingrediente {{ purchase.ingrediente }} {% endblock %}
{% block content %}

<h1> Información de la compra del ingrediente {{ purchase.ingredient }}.</h1>

<ul>
    <li><strong>Ingrediente:</strong> {{ purchase.ingredient }}</li>
    <li><strong> Cantidad: </strong>{{ purchase.quantity }} gramo{{ purchase.quantity|pluralize }}.</li>
    <li><strong> Precio: </strong>{{ purchase.price }} Euro{{ purchase.price|pluralize }}.</li>
    <li><strong> Fecha de compra: </strong> {{ purchase.buying_date|date:"SHORT_DATE_FORMAT" }}</li>
    <li><strong> Fecha de caducidad: </strong>{{ purchase.sell_by_date|date:"SHORT_DATE_FORMAT" }}</li>
    <li><strong> Existencias:</strong> {{ purchase.finished|yesno:"Sin existencias, Con recursos" }}</li>
</ul>

{% endblock %}
